.container {
    background-color: transparent;
    width: 500px;
    height: 500px;
    perspective: 1000px;
}

.container-inner {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.box-front {
    background-color: violet;
    height: 100%;
    width: 100%;    
    position: absolute;
    backface-visibility: hidden;
}

.box-back {
    background-color: teal;
    height: 100%;
    width: 100%;    
    position: absolute;
    transform: rotateY(180deg) ;
    backface-visibility: hidden;
}

.container:hover .container-inner {
    transform: rotateY(180deg);
}